
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}

header {
  background-color: black;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: red;
}

.container {
  display: flex;
  padding: 50px;
}
.movie {
  width: 240px;
  height: 300px;
  margin-right: 20px;
  background-color: black;
}
