
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #141414;
  font-family: 'Lato', sans-serif;
}
/* stile dell'header */
header {
  background-color: #141414;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 40%;
}
.main-nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}
.main-nav li {
  margin: 0 2%;
}
.main-nav li a {
  color: #ffff;
  text-decoration: none
}
.nav-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer
}
.nav-btn:focus {
  outline: none;
}
.btn-active {
  text-decoration: underline;
}
.search-wrapper {
  position: relative;
}
#search-item {
  height: 30px;
  width: 200px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  font-family:'Lato', sans-serif;
}
#search-item:focus, .search-btn:focus {
  outline: none;
}
.search-btn {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 2
}

/* stile del main */
main {
  height: calc(100% - 80px );
  padding-top: 100px;
}
.logo {
  width: 150px;
  margin-right: 10px
}
.logo img {
  max-width: 100%;
}

.row-container {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 50px;
}
.movie {
  width: 200px;
  height: 100%;
  margin-right: 2px;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 1px;
}

.movie > img {
  width: 100%;
  height: 100%;
}

.overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index:2;
  background: black;
  padding: 10px 5px;
  transition: 0.5s opacity ease;
}
.overlay:hover {
  opacity: 1;
}
.overlay ul {
  list-style: none;
}
.overlay .title {
  color: white;
  display: inline-block;
  font-size: 18px;

}
.title {
  margin-right: 2px
}
.overlay li {
  color: grey;
  font-size: 12px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating > ul {
  display: flex;
}
.rating-list li {
  color: white;
}

.lang-wrapper {
  display: flex;
  align-items: center;
}

.lang-wrapper img {
  margin-left: 5px;
}

.lang-wrapper .lang-item {
  color: white;
}
