<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="app">
    <header>
      <nav class="main-nav">
        <div class="logo">
          <img src="img/boolflix.png" alt="">
        </div>
        <ul>
          <li><button @click="shiftCategory" class="nav-btn">Film</button></li>
          <li><button @click="shiftCategory"  class="nav-btn">Serie tv</button></li>
        </ul>
      </nav>
      <div class="search-wrapper">
        <input type="text" id="search-item" name="search-item" value="" v-model="searchMovie" v-on:keydown.13 ="filterMovie" placeholder="Titolo">
        <button type="button"class="search-btn" name="search-btn" @click="filterMovie">Cerca</button>
      </div>
    </header>


    <main>
      <div v-if="movieCategory" class="row-container">
        <div v-for= "(movie, index) in movies" class="movie">
          <img :src="'https://image.tmdb.org/t/p/w300'+ movie.poster_path " alt="">
          <div class="overlay">
            <ul>
              <li v-if ='movie.title'><span class="title">Titolo:</span> {{movie.title}}</li>
              <li v-if = 'movie.name'><span class="title">Titolo:</span>{{movie.name}}</li>
              <li><span class="title">Titolo originale:</span> {{movie.original_title}}</li>
              <li class="lang-wrapper">
                <span class="title">Lingua originale:</span>
                <img v-if="movie.original_language == 'en' ? movie.original_language = 'gb' : movie.original_language"
                v-bind:src="'https://www.countryflags.io/' + movie.original_language + '/flat/16.png'" alt="">
                <img v-if="movie.original_language == 'ja' ? movie.original_language = 'jp' : ''"
                v-bind:src="'https://www.countryflags.io/' + movie.original_language + '/flat/16.png'" alt="">
                <span class="lang-item">{{movie.original_language}}</span>
              </li>
              <li class="rating">
                <span class="title">Voto:</span>
                <ul rating-list>
                  <li v-for="(item,index) in movie.vote_average"> <i class="fas fa-star"></i></li>
                  <li v-for ="(item,index) in (5 - movie.vote_average)"> <i class="far fa-star"></i></li>
                </ul>
              </li>
              <li v-if ="movie.overview ==''"><span class="title">Overview</span> Sinossi non disponibile</li>
              <li v-else><span class="title">Overview:</span>{{movie.overview}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div v-else class="row-container">
        <!-- template per le serie -->
        <div v-for= "(movie, index) in movies" class="movie">
          <img :src="'https://image.tmdb.org/t/p/w300'+ movie.poster_path " alt="">
          <div class="overlay">
            <ul>
              <li v-if ='movie.title'><span class="title">Titolo:</span> {{movie.title}}</li>
              <li v-if ='movie.name'><span class="title">Titolo:</span>{{movie.name}}</li>
              <li><span class="title">Titolo originale:</span> {{movie.original_title}}</li>
              <li class="lang-wrapper">
                <span class="title">Lingua originale:</span>
                <img v-if="movie.original_language == 'en' ? movie.original_language = 'gb' : movie.original_language"
                v-bind:src="'https://www.countryflags.io/' + movie.original_language + '/flat/16.png'" alt="">
              </li>
              <li class="rating">
                <span class="title">Voto:</span>
                <ul rating-list>
                  <li v-for="(item,index) in movie.vote_average"> <i class="fas fa-star"></i></li>
                  <li v-for ="(item,index) in (5 - movie.vote_average)"> <i class="far fa-star"></i></li>
                </ul>
              </li>
              <li v-if ="movie.overview ==''"><span class="title">Overview</span> trama non disponibile</li>
              <li v-else><span class="title">Overview:</span>{{movie.overview}}</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
